body{
  background: #8758ff;

}

.TodoForm{
  display: flex;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  margin-left: -10px;
}
.TodoApp{
  margin-top: 140px;
 
  
  width: 300px;
  background-color:#031129;

 box-shadow: 3px 3px 6px 3px rgba(75, 72, 72, 0.3); /* Adjust shadow as needed */

  height: 450px;
  margin-left: 480px;
  padding: 30px 40px;
}
  
.heading{
  margin-left: 10px;
  color: #fff;

}
.todo-input::placeholder{
  color: #081d644d;

}
.todo-input{
  width: 300px;
}
.todo-button{
  width: 100px;
  background: #8758ff;
  color: #fff;
  border : none;
  padding: 0.55rem;
  cursor: pointer;
}
.Todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;

  color: #fff;
   padding:  1rem; 
  border-radius: 5px;
  margin-bottom:1rem;
  cursor: pointer;
  width: 280px;
  height: 8px;
  margin-left: -20px;

  
  
}
.fa-trash{
  margin-left: o.75rem;
}
.completed{
  color: #c5aeff;
  text-decoration: line-through;
}
.clearall{
  color: #fff;
  font-size: 25px;
  margin-left: 220px;
}
.button2{
  background: #8758ff;
  color: #fff; 
  height: 30px;
  cursor: pointer;
  margin-bottom: 20px;

}